<div class="header-banner">
    <div class="banner has-banner " style="background-image: url(./assets/images/banner-single-album.jpg);">
        <div class="overlay-banner-img"></div>
        <div class="container">
            <h1 class="title-page">Thank You </h1>
            <div class="breadcrumb-wrap">
                <nav class="breadcrumb-trail breadcrumbs">
                    <ul class="trail-items">
                        <li class="trail-item trail-begin">
                            <a href="#"><span>Home</span></a>
                        </li>
                        <li class="trail-item trail-end">
                            <span>thank</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div id="main-container" class="main-container">
    <div class="site-content-inner">
        <div class="container content">
            <div class="row">
                <h2>Thank you</h2>
            </div>
        </div>
    </div>
</div>