<div class="header-banner">
        <div class="banner has-banner " style="background-image: url(./assets/images/banner-relate.jpg);">
            <div class="overlay-banner-img"></div>
            <div class="container">
                <h1 class="title-page">MUSIC<br/> RELEASES</h1>
                <div class="breadcrumb-wrap">
                    <nav class="breadcrumb-trail breadcrumbs">
                        <ul class="trail-items">
                            <li class="trail-item trail-begin">
                                <a href="#"><span>Home</span></a>
                            </li>
                            <li class="trail-item trail-end">
                                <span>Releases</span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div> 
<div id="main-container" class="main-container page-blog">
        <div class="site-content-inner">
            <div class="container">
            <div class="row">
            	 <div id="primary" class="content-area blog-content-area col-xs-12 col-sm-7 col-md-9 has-sidebar-right">
                <div class="grid-category col-3 padding-top-zero">
                    <div class="row">
                    <div class="col-md-7 pull-right">
                        <div class="iva-custom-search">
				
				
					<form method="get" action="#">
				
				
					
					
					<!-- Custom search posttype select -->
					<div class="iva_music_search_select">	
						<div class="iva_select_wrapper"><span class="iva-select-arrow"><i class="iva-arrpos fa fa-angle-down fa-lg"></i></span><select name="iva_custom_search_select" id="cs_posttype" class="cs-posttype"><option value="all">Search Tracks</option><option value="albums">Albums</option><option value="djmix">Djmix</option><option value="artists">Artists</option></select>	</div>	
						</div>
				
						<!-- Custom search input -->
						<div class="iva_music_search_input">	
						<input id="search_val" name="s" value="" type="hidden">
						<input name="iva_search_keyword" value="Musicplay_Custom_Search" type="hidden">
						<input class="iva_search" name="iva_search_input" placeholder="Search Album, Artist, Track" value="" size="25" type="text">
						</div>
						
						<!-- Custom search button -->
						<div class="iva_music_search_button">	
						<input class="iva_search_btn btn small greensea" value="Search" type="submit">
						</div>
						
					</form>
				
			</div>
                        </div>
                        <div class="col-md-12">
                        <h2 class="sidebar_title">My favourite lists</h2>
                        </div>
                        
                        <div class="col-md-12">
                        <table class="table table-striped">
    <thead>
      <tr>
        <th>&nbsp; &nbsp; &nbsp; &nbsp;</th>
        <th>Date</th>
        <th>Song Name</th>
        <th>Artist Name</th>
        <th>BPM</th>
        <th>Key</th>
        <th>Genre</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><div class="stec-layout-event-preview-left-icon text-center" style="background:#dd2121" =""="">
                <i class="fa fa-glass"></i>
            </div></td>
        <td> Dec 3 2016</td>        
        <td>Wake & Bake</td>
        <td>Mickey Shiloh</td>
        <td>98</td>
        <td>9A</td>
        <td>Hip hop original</td>
        <td>
        <ul class="list-inline">
       		<li><a href="#"><i class="fa fa-bell"></i></a></li>
            <li><a href="#"><i class="fa fa-amazon"></i></a></li>
            <li><a href="#"><i class="fa fa-apple"></i></a></li>            
            <li><a href="#"><i class="fa fa-cloud-download"></i></a></li>
            <li><a href="#"><i class="fa fa-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-share-alt"></i></a></li>            
            <li><a href="#"><i class="fa fa-star"></i></a></li>
        </ul>
        </td>
      </tr>
      
      <tr>
        <td><div class="stec-layout-event-preview-left-icon text-center" style="background:#dd2121" =""="">
                <i class="fa fa-glass"></i>
            </div></td>
        <td> Dec 3 2016</td>        
        <td>Wake & Bake</td>
        <td>Mickey Shiloh</td>
        <td>98</td>
        <td>9A</td>
        <td>Hip hop original</td>
        <td>
        <ul class="list-inline">
       		<li><a href="#"><i class="fa fa-bell"></i></a></li>
            <li><a href="#"><i class="fa fa-amazon"></i></a></li>
            <li><a href="#"><i class="fa fa-apple"></i></a></li>            
            <li><a href="#"><i class="fa fa-cloud-download"></i></a></li>
            <li><a href="#"><i class="fa fa-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-share-alt"></i></a></li>            
            <li><a href="#"><i class="fa fa-star"></i></a></li>
        </ul>
        </td>
      </tr>
      
      <tr>
        <td><div class="stec-layout-event-preview-left-icon text-center" style="background:#dd2121" =""="">
                <i class="fa fa-glass"></i>
            </div></td>
        <td> Dec 3 2016</td>        
        <td>Wake & Bake</td>
        <td>Mickey Shiloh</td>
        <td>98</td>
        <td>9A</td>
        <td>Hip hop original</td>
        <td>
        <ul class="list-inline">
       		<li><a href="#"><i class="fa fa-bell"></i></a></li>
            <li><a href="#"><i class="fa fa-amazon"></i></a></li>
            <li><a href="#"><i class="fa fa-apple"></i></a></li>            
            <li><a href="#"><i class="fa fa-cloud-download"></i></a></li>
            <li><a href="#"><i class="fa fa-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-share-alt"></i></a></li>            
            <li><a href="#"><i class="fa fa-star"></i></a></li>
        </ul>
        </td>
      </tr>
      
      <tr>
        <td><div class="stec-layout-event-preview-left-icon text-center" style="background:#dd2121" =""="">
                <i class="fa fa-glass"></i>
            </div></td>
        <td> Dec 3 2016</td>        
        <td>Wake & Bake</td>
        <td>Mickey Shiloh</td>
        <td>98</td>
        <td>9A</td>
        <td>Hip hop original</td>
        <td>
        <ul class="list-inline">
       		<li><a href="#"><i class="fa fa-bell"></i></a></li>
            <li><a href="#"><i class="fa fa-amazon"></i></a></li>
            <li><a href="#"><i class="fa fa-apple"></i></a></li>            
            <li><a href="#"><i class="fa fa-cloud-download"></i></a></li>
            <li><a href="#"><i class="fa fa-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-share-alt"></i></a></li>            
            <li><a href="#"><i class="fa fa-star"></i></a></li>
        </ul>
        </td>
      </tr> 
    </tbody>
  </table>
  
                          </div>
                          <div class="col-md-12">  
                        <div class="music-pagination">
                                <ul class="page-numbers">
                                    <li><span class="page-numbers current">1</span></li>
                                    <li><a class="page-numbers" href="404-page.html">2</a></li>
                                    <li><a class="page-numbers" href="404-page.html">3</a></li>
                                    <li><a class="page-numbers" href="404-page.html">4</a></li>
                                    <li>
                                        <a class="next page-numbers" href="404-page.html"><span><i class="fa fa-angle-left"></i></span></a>
                                        <a class="prev page-numbers" href="404-page.html"><span><i class="fa fa-angle-right"></i></span></a>
                                    </li>
                                </ul>
                            </div>
                            </div>
                    </div>
                  </div>
                  <div class="grid-category col-3">  
                    <div class="row">
                    <div class="col-md-12">
                        <h2 class="sidebar_title">Your friends are listening to</h2>
                        </div>
                      <div class="now-playing">
                <div class="col-md-3 now-playing__column">

                  <div class="now-playing__item">

                    <div class="now-playing__image">
                      <img src="assets/images/team2.jpg" alt="" class="img64_64 img-circle">
                      <div class="now-playing__music-icon">
                        <i class="fa fa-check">

                        </i>
                      </div>
                    </div>

                    <div class="now-playing__name">
                      <h6>
                        Kate Westeroz
                      </h6>
                    </div>

                    <div class="now-playing__song">
                      Sultains of swing - Dire Straights
                    </div>

                    <div class="now-playint__rating">

                      <h6>
                        <span class="rating-value">59</span>
                        <i class="fa fa-star color-primary"></i>
                        <i class="fa fa-star color-primary"></i>
                        <i class="fa fa-star color-primary"></i>
                        <i class="fa fa-star color-primary"></i>
                        <i class="fa fa-star-o color-primary"></i>
                      </h6>
                    </div>

                  </div>

                </div>

                <div class="col-md-3 now-playing__column">

                  <div class="now-playing__item">

                    <div class="now-playing__image">
                      <img src="./assets/images/team4.jpg" alt="" class="img64_64 img-circle">
                      <div class="now-playing__music-icon">
                        <i class="fa fa-check">

                        </i>
                      </div>
                    </div>

                    <div class="now-playing__name">
                      <h6>
                        George Steveland
                      </h6>
                    </div>

                    <div class="now-playing__song">
                      Tonight is the deal - Tot on fire
                    </div>

                    <div class="now-playint__rating">

                      <h6>
                        <span class="rating-value">35</span>
                        <i class="fa fa-star color-primary"></i>
                        <i class="fa fa-star color-primary"></i>
                        <i class="fa fa-star color-primary"></i>
                        <i class="fa fa-star-o color-primary"></i>
                        <i class="fa fa-star-o color-primary"></i>
                      </h6>
                    </div>

                  </div>

                </div>

                <div class="col-md-3 now-playing__column">

                  <div class="now-playing__item">

                    <div class="now-playing__image">
                      <img src="./assets/images/team6.jpg" alt="" class="img64_64 img-circle">
                      <div class="now-playing__music-icon">
                        <i class="fa fa-check">

                        </i>
                      </div>
                    </div>

                    <div class="now-playing__name">
                      <h6>
                        Steve Passeland
                      </h6>
                    </div>

                    <div class="now-playing__song">
                      On the spotlight - Kings of doom
                    </div>

                    <div class="now-playint__rating">

                      <h6>
                        <span class="rating-value">27</span>
                        <i class="fa fa-star color-primary"></i>
                        <i class="fa fa-star color-primary"></i>
                        <i class="fa fa-star-o color-primary"></i>
                        <i class="fa fa-star-o color-primary"></i>
                        <i class="fa fa-star-o color-primary"></i>
                      </h6>
                    </div>

                  </div>

                </div>

                <div class="col-md-3 now-playing__column">

                  <div class="now-playing__item">

                    <div class="now-playing__image">
                      <img src="./assets/images/team5.jpg" alt="" class="img64_64 img-circle">
                      <div class="now-playing__music-icon">
                        <i class="fa fa-check">

                        </i>
                      </div>
                    </div>

                    <div class="now-playing__name">
                      <h6>
                        Anthony Walsh
                      </h6>
                    </div>

                    <div class="now-playing__song">
                      Together we are - Legendaries
                    </div>

                    <div class="now-playint__rating">

                      <h6>
                        <span class="rating-value">28</span>
                        <i class="fa fa-star color-primary"></i>
                        <i class="fa fa-star color-primary"></i>
                        <i class="fa fa-star-o color-primary"></i>
                        <i class="fa fa-star-o color-primary"></i>
                        <i class="fa fa-star-o color-primary"></i>
                      </h6>
                    </div>

                  </div>

                </div>

            </div>
                    </div>
                    
                </div>
                </div>
                <aside id="sidebar-right" class="sidebar sidebar-right col-sm-4 col-md-3 col-xs-12">
                        <div class="sidebar_widget widget_categories widget">
                        <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                    <ul class="resp-tabs-list">
                        <li class="resp-tab-item resp-tab-active" aria-controls="tab_item-0" role="tab">Browse </li>
                        <li class="resp-tab-item" aria-controls="tab_item-1" role="tab">Queue</li>
                    </ul>
                     <div class="resp-tabs-container">
                        <h2 class="resp-accordion resp-tab-active" role="tab" aria-controls="tab_item-0"><span class="resp-arrow"></span>Browse </h2><div class="list-imgs resp-tab-content resp-tab-content-active" style="display:block" aria-labelledby="tab_item-0">
                         <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;"><div class="sidebar-nav-main navigation-menu-container" data-slim-scroll="" data-ng-class="{minified:mediaPlayer.currentTrack}" style="overflow: hidden; width: auto; height: 100%;">

    <div class="menu-navigation-menus" ng-show="navigation.navigationState.menu" style="">

      <div class="nav-user-menu sidebar-nav-content">

        <ul class="sidebar-nav-menu" data-highlight-active="">
          <li id="user-menu" class="nav-item active">
            <div class="actions">
              <a class="action-btn" href="#/dashboard">
                <i class="action-icon fa fa-bell"></i>
              </a>
              <i id="user-settings-btn" class="action-icon fa fa-gear"></i>
            </div>
            <a class="nav-link profile" href="#/pages/profile">
              <img src="assets/images/user.png" alt="" class="img20_20 img-circle">
              <span class="label helper-tooltip-measured">Joseph Guatemala</span>
            </a>

          </li>
          <li id="user-menu" class="nav-item">
            <a class="nav-link profile" href="#/dashboard">
              <i class="icon fa fa-inbox"></i>
              <span class="label helper-tooltip-measured">Dashboard</span>
            </a>

          </li>
        </ul>

      </div>

      <div class="nav-user-menu sidebar-nav-content">

        <ul class="sidebar-nav-menu" data-highlight-active="" data-collapse-nav="">

          <li id="user-menu" class="nav-item">
            <a class="nav-link profile" href="#/artist-list">
              <i class="icon fa fa-headphones"></i>
              <span class="label helper-tooltip-measured">Artists</span>
            </a>

          </li>

          <li id="user-menu" class="nav-item">
            <a class="nav-link profile" href="#/albums">
              <i class="icon fa fa-bar-chart"></i>
              <span class="label helper-tooltip-measured">Albums</span>
            </a>

          </li>

        </ul>

      </div>

      <div class="nav-user-menu sidebar-nav-content">

        <div class="sidebar-nav-content__header">
        <span>
          Your playlists
        </span>
        </div>

        <ul class="sidebar-nav-menu ng-scope" data-highlight-active="" data-ng-controller="UserPlayListCtrl as userplaylist">
          <li id="user-menu" class="nav-item">
            <a class="nav-link profile" href="javascript:;" data-ng-click="generalPlaylist.createNewPlaylist()">
              <i class="icon fa fa-plus-circle"></i>
              <span class="label helper-tooltip-measured">Create a playlist</span>
            </a>

          </li>
          <li id="user-menu" class="nav-item ng-scope" ng-repeat="playlist in generalPlaylist.userPlaylists track by $index">
            <a class="nav-link profile" href="#/playlist/greatest-heats">
              <i class="icon fa fa-book"></i>
              <span class="label helper-tooltip-measured ng-binding">Greatest hits</span>
            </a>
          </li><!-- end ngRepeat: playlist in generalPlaylist.userPlaylists track by $index --><li id="user-menu" class="nav-item ng-scope" ng-repeat="playlist in generalPlaylist.userPlaylists track by $index">
            <a class="nav-link profile" href="#/playlist/songsofdream">
              <i class="icon fa fa-book"></i>
              <span class="label helper-tooltip-measured ng-binding">Sons of Dream</span>
            </a>
          </li><!-- end ngRepeat: playlist in generalPlaylist.userPlaylists track by $index -->

        </ul>

      </div>

    </div>

    

  </div></div>   
          </div>
          <h2 class="resp-accordion" role="tab" aria-controls="tab_item-1"><span class="resp-arrow"></span>Queue</h2><div class="list-videos resp-tab-content" aria-labelledby="tab_item-1">
                            <div>

            <div class="playlist-item-list music-listing--queue" ng-show="navigation.navigationState.playlist" style="">

      <div class="music-listing__songs">

        <!-- ngRepeat: song in generalPlaylist.audioPlaylist -->

        <div class="empty-listing" ng-hide="generalPlaylist.audioPlaylist.length">

          <div class="empty-listing-icon">
            <i class="fa fa-music">

            </i>
          </div>
          <div class="empty-listing-message">
            You dont have any item in the playlist
          </div>

          <div class="empty-listing-message">
            <a ng-href="#/artist-list" class="btn btn-primary btn-block btn-sm" href="#/artist-list">Search</a>
          </div>

        </div>

      </div>

    </div>

          </div>
          </div>
          </div>
                        </div>
                        <div class="sidebar_widget widget_categories widget">
                            <h2 class="sidebar_title">Following this artist </h2>
                            <div>

            <ul class="list-inline">
              <li>
                <img src="./assets/images/user.png" alt="" class="img30_30 img-circle" tooltip-placement="bottom" tooltip="John Doeser" tooltip-append-to-body="true">
              </li>
              <li>
                <img src="./assets/images/team1.jpg" alt="" class="img30_30 img-circle" tooltip-placement="bottom" tooltip="John Doeser" tooltip-append-to-body="true">
              </li>
              <li>
                <img src="./assets/images/team2.jpg" alt="" class="img30_30 img-circle" tooltip-placement="bottom" tooltip="John Doeser" tooltip-append-to-body="true">
              </li>
              <li>
                <img src="./assets/images/team3.jpg" alt="" class="img30_30 img-circle" tooltip-placement="bottom" tooltip="John Doeser" tooltip-append-to-body="true">
              </li>
              <li>
                <img src="./assets/images/team4.jpg" alt="" class="img30_30 img-circle" tooltip-placement="bottom" tooltip="John Doeser" tooltip-append-to-body="true">
              </li>
              <li>
                <img src="./assets/images/team5.jpg" alt="" class="img30_30 img-circle" tooltip-placement="bottom" tooltip="John Doeser" tooltip-append-to-body="true">
              </li>
              <li>
                <img src="./assets/images/team6.jpg" alt="" class="img30_30 img-circle" tooltip-placement="bottom" tooltip="John Doeser" tooltip-append-to-body="true">
              </li>
              <li>
                <img src="./assets/images/team3.jpg" alt="" class="img30_30 img-circle" tooltip-placement="bottom" tooltip="John Doeser" tooltip-append-to-body="true">
              </li>
              <li>
                <img src="./assets/images/team4.jpg" alt="" class="img30_30 img-circle" tooltip-placement="bottom" tooltip="John Doeser" tooltip-append-to-body="true">
              </li>
              <li>
                <img src="./assets/images/team5.jpg" alt="" class="img30_30 img-circle" tooltip-placement="bottom" tooltip="John Doeser" tooltip-append-to-body="true">
              </li>
            </ul>

          </div>
                        </div>
                        <div class="sidebar_widget intagram_widget widget">
                            <h2 class="sidebar_title">Share the profile</h2>
                            <div>
            <a href="javascript:;" class="btn-icon btn-icon-sm btn-twitter" tooltip-placement="bottom" tooltip="Twitter" tooltip-append-to-body="true"><i class="fa fa-twitter"></i></a>
            <a href="javascript:;" class="btn-icon btn-icon-sm btn-facebook" tooltip-placement="bottom" tooltip="Facebook" tooltip-append-to-body="true"><i class="fa fa-facebook"></i></a>
            <a href="javascript:;" class="btn-icon btn-icon-sm btn-google-plus" tooltip-placement="bottom" tooltip="Google plus" tooltip-append-to-body="true"><i class="fa fa-google-plus"></i></a>
            <a href="javascript:;" class="btn-icon btn-icon-sm btn-pinterest" tooltip-placement="bottom" tooltip="Pinterest" tooltip-append-to-body="true"><i class="fa fa-pinterest"></i></a>
            <a href="javascript:;" class="btn-icon btn-icon-sm btn-instagram" tooltip-placement="bottom" tooltip="Instagram" tooltip-append-to-body="true"><i class="fa fa-instagram"></i></a>
          </div>
                        </div>
                        <div class="sidebar_widget widget_recent_post widget">
                            <h2 class="sidebar_title">Latest chats</h2>
                           <div>
            <div class="chat-window">

              <div class="friends-list">
                <div class="friend-item online">
                  <div class="friend-image">
                    <img src="./assets/images/team3.jpg" alt="" class="img30_30 img-circle">
                  </div>
                  <div class="friend-name">
                    <h5>Philip Gragoline</h5>
                    <h6>
                      New york
                    </h6>
                  </div>
                </div>

                <div class="friend-item online">
                  <div class="friend-image">
                    <img src="./assets/images/team4.jpg" alt="" class="img30_30 img-circle">
                  </div>
                  <div class="friend-name">
                    <h5>Christopher Factory</h5>
                    <h6>
                      New york
                    </h6>
                  </div>
                </div>

                <div class="friend-item online">
                  <div class="friend-image">
                    <img src="./assets/images/team5.jpg" alt="" class="img30_30 img-circle">
                  </div>
                  <div class="friend-name">
                    <h5>Tony Banken</h5>
                    <h6>
                      New york
                    </h6>
                  </div>
                </div>

                <div class="friend-item online">
                  <div class="friend-image">
                    <img src="./assets/images/team6.jpg" alt="" class="img30_30 img-circle">
                  </div>
                  <div class="friend-name">
                    <h5>Gregory Anderson</h5>
                    <h6>
                      New york
                    </h6>
                  </div>
                </div>

                <div class="friend-item online">
                  <div class="friend-image">
                    <img src="./assets/images/team2.jpg" alt="" class="img30_30 img-circle">
                  </div>
                  <div class="friend-name">
                    <h5>Antony walshy</h5>
                    <h6>
                      New york
                    </h6>
                  </div>
                </div>

                <div class="friend-item offline">
                  <div class="friend-image">
                    <img src="./assets/images/team3.jpg" alt="" class="img30_30 img-circle">
                  </div>
                  <div class="friend-name">
                    <h5>Philip Gragoline</h5>
                    <h6>
                      New york
                    </h6>
                  </div>
                </div>
              </div>

            </div>
          </div>
                        </div>
                        <div class="sidebar_widget widget_newsletter widget">
                            <h2 class="sidebar_title">Newsletter</h2>
                            <div class="form-newsletter">
                                <form action="#" id="sendmailchip" method="post">
                                    <div class="form-ground">
                                        <input class="input-email" placeholder="Your email address.." name="email" type="email">
                                        <span class="input-button"><input class="button-submit" value="Submit" type="submit"></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="sidebar_widget widget_banner widget">
                            <figure>
                                <a href="#"><img src="./assets/images/banner-ads.jpg" alt=""></a>
                            </figure>
                        </div>
                        
                    </div></aside>
                </div>
            </div>
        </div>

    </div>