<div class="header-banner">
        <div class="banner has-banner " style="background-image: url(./assets/images/banner-single-album.jpg);">
            <div class="overlay-banner-img"></div>
            <div class="container">
                <h1 class="title-page">DISCOGRA <br/> -PHIES</h1>
                <div class="breadcrumb-wrap">
                    <nav class="breadcrumb-trail breadcrumbs">
                        <ul class="trail-items">
                            <li class="trail-item trail-begin">
                                <a href="#"><span>Home</span></a>
                            </li>
                            <li class="trail-item trail-end">
                                <span>Realses</span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div id="main-container" class="main-container">
        <div class="site-content-inner">
            <div class="container">
                <div class="feature-single">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="feature-single-media">
                                <div class="feature-single-content">
                                    <h3 class="feature-single-title">{{song_detail.song_name}}</h3>
                                    <h5 class="single-category">POP - 03.01.2016 </h5>
                                    <div class="feature-single-img">
                                        <figure>
                                            <img src="./assets/images/feature-album.jpg" alt="img1">
                                        </figure>
                                        <a href="#" class="icon-play"><i class="fa fa-play"></i></a>
                                    </div>
                                    <div class="single-by-on">
                                        <span>Available for buy on <a href="#">Itunes & Google Play</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-offset-1">
                            <div class="single-playlist">
                                <h2 class="title-playlist">Dekadens</h2>
                                <div class="playlist-desc">Oluptatum purus mi commodi, “Completely plagiarize
                                    functionalized networ through infrastruc Ridiculus repudiandae dictumst excepturi
                                    consequatur proident error, arcu. Aperiam augue....
                                </div>
                                <div class="playlist-share">
                                    <span>Share this :</span>
                                    <ul class="list-social">
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                                    </ul>
                                </div>
                                <div class="single-playlist-inner-wrap">
                                    <div class="single-playlist-inner">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>